@model IEnumerable<yad2.Models.Store>

@{
    ViewData["Title"] = "סניפים";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/store.js"></script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMap' async defer></script>

<div style="text-align:right;">
    <div>
        <h1>מקומות האיסוף שלנו</h1>
    </div>
    <br />
    <div class="mapPageWrapper">
        <div id="map" style="width:800px;height:350px;"></div>
    </div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    מקום האיסוף
                </th>
                <th>
                    כתובת
                </th>
                <th>
                    תיאור
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.storeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.storeId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.storeId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.storeId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>