@model IEnumerable<yad2.Models.Tags>

@{
    ViewData["Title"] = "Index";
}
<div style="text-align:right;">
    <h1>ניהול תגיות</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.tageName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tageName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.tagId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.tagId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.tagId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>