@model IEnumerable<yad2.Models.User>
@{
    ViewData["Title"] = "טבלת משתמשים";
}

<head>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/usersTable.css" />
</head>

<h1 class="title">טבלת משתמשים</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                שם משתמש
            </th>
            <th>
                סיסמא
            </th>
            <th>
                אי-מייל
            </th>
            <th>
                מספר טלפון
            </th>
            <th>
                האם מנהל
            </th>
            <th id="actions" />
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <form>
            <tr>
                <td class="username">
                    <span data-val="@item.Username">
                        @Html.DisplayFor(modelItem => item.Username)
                    </span>
                    <input value="@item.Username" class="form-control" style="display:none" required />
                </td>
                <td class="password form-group">
                    <span data-val="@item.Password">
                        @Html.DisplayFor(modelItem => item.Password)
                    </span>
                    <input value="@item.Password" class="form-control " style="display:none" required />
                </td>
                <td class="mail">
                    <span data-val="@item.Email">
                        @Html.DisplayFor(modelItem => item.Email)
                    </span>
                    <input value="@item.Email" class="form-control" style="display:none" required />
                </td>
                <td class="phone">
                    <span data-val="@item.Phone">
                        @Html.DisplayFor(modelItem => item.Phone)
                    </span>
                    <input value="@item.Phone" class="form-control" style="display:none" required />
                </td>
                <td class="isAdmin">
                    <span>

                        <input type="checkbox" disabled id="realValue" checked="@item.isAdmin" />
                    </span>
                    <input type="checkbox" id="editable" checked="@item.isAdmin" style="display:none" />
                </td>
                <td>
                    <div class="container">
                        <a class="Edit"><i class="fas fa-pencil-alt"></i></a>
                        <a class="fas fa-user-times deleteBtn" data-toggle="modal" data-user="@item.Username">
                        </a>
                        <a class="cancel fas fa-undo" style="display:none" data-user="@item.Username">
                        </a>
                        <button type="submit" class="Update fas fa-save" style="display:none" data-user="@item.Username">
                        </button>
                    </div>
                </td>
            </tr>
            </form>
        }
    </tbody>
</table>

<button type="button" id="createBtn" class="btn btn-primary float-lg-none circular" data-toggle="modal">
    <i class="fas fa-plus"></i>
</button>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="deleteModal" data-url='@Url.Action("Delete")'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeBtn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">שים לב!</h4>
            </div>
            <div id="deleteContent"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url='@Url.Action("Create")'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" id="createCloseBtn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div id="createContent">
            </div>
        </div>

    </div>
</div>

<script src="~/js/users.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('#createBtn').click(function () {
            var url = $('#createModal').data('url');

            $.get(url, function (data) {
                $('#createContent').html(data);

                $('#createModal').modal('show');
            });
        });

        $(".deleteBtn").click(function (event) {
            var url = $('#deleteModal').data('url');
            $.ajax({
                url: url,
                type: 'get',
                data: {
                    id: event.target.dataset.user
                },
                success: function (data) {
                    $('#deleteContent').html(data);

                    $('#deleteModal').modal('show');
                }
            });
        })

        $(".table .Edit").on("click", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    if (!$(this).hasClass("username")) {
                        $(this).find("input").show();
                        $(this).find("span").hide();
                    }
                }
            });
            row.find(".Update").show();
            row.find(".cancel").show();
            row.find(".deleteBtn").hide();
            $(this).hide();
        });

        $(".table .Update").on("click", function () {

            var row = $(this).closest("tr");
            var modifiedUser = {};
            modifiedUser.Username = row.find(".username").find("input").val();
            modifiedUser.Password = row.find(".password").find("input").val();
            modifiedUser.Email = row.find(".mail").find("input").val();
            modifiedUser.Phone = row.find(".phone").find("input").val();
            modifiedUser.id = modifiedUser.Username;
            const validationMessages = validateUser(modifiedUser);
            if (validationMessages.length == 0) {
                $("td", row).each(function () {
                    if ($(this).find("input").length > 0) {
                        var span = $(this).find("span");
                        var input = $(this).find("input");
                        if ($(this).hasClass('isAdmin')) {
                            input = $(this).find('#editable')
                            span.find('#realValue').attr('checked', (input[0].checked))
                        } else if (!$(this).hasClass('mail')) {
                            span.html(input.val());
                        } else {
                            const mail = input.val();
                            const mailHref = "mailto:" + mail;
                            span.html("<a href="+mailHref + ">"+ mail +"</a>")
                        }
                        span.show();
                        input.hide();
                    }
                });
                row.find(".Edit").show();
                row.find(".deleteBtn").show();
                row.find(".cancel").hide();
                $(this).hide();

                modifiedUser.isAdmin = row.find(".isAdmin").find("span").find("#realValue")[0].checked
                var token = '@Html.AntiForgeryToken()';
                token = $(token).val();
                modifiedUser.__requestverificationtoken = token;

                $.ajax({
                    type: "POST",
                    url: "/Users/Edit/5",
                    dataType: "JSON",
                    data: modifiedUser
                });
            } else {
                validationMessages.forEach(field => {
                    let inputField = row.find(`.` + field + ' input');
                    inputField.addClass('has-error')
                })
            }
        });

        $(".table .cancel").on("click", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    if ($(this).hasClass('isAdmin')) {
                        input = $(this).find('#editable')
                        if (!span.find("#realValue")[0].checked) {
                            $(this).find("#editable").prop('checked', false)
                        } else {
                            $(this).find("#editable").prop('checked', true)
                        }
                    } else {
                        input.val(span.data('val'));
                    }
                    input.hide();
                    span.show();
                }
            });
            row.find(".Edit").show();
            row.find(".deleteBtn").show();
            row.find(".Update").hide();
            $(this).hide();
        });
    });

</script>
