@model yad2.Models.Post

@{
    Layout = null;
    ViewData["Title"] = "Details";
}

<head>
    <style>
        .publisherDetails {
            line-height: 20px;
            float: right;
            margin-right: 0.5vw;
        }
        .chip {
            margin-top: 5vh;
            margin-right: 1vw;
            display: inline-flex;
            flex-direction: row;
            background-color: #e5e5e5;
            border: none;
            cursor: default;
            height: 36px;
            outline: none;
            padding: 0;
            font-size: 14px;
            font-color: #333333;
            font-family: "Open Sans", sans-serif;
            white-space: nowrap;
            align-items: center;
            border-radius: 16px;
            vertical-align: middle;
            text-decoration: none;
            justify-content: center;
        }

        .chip-head {
            display: flex;
            position: relative;
            overflow: hidden;
            background-color: #32C5D2;
            font-size: 1.25rem;
            flex-shrink: 0;
            align-items: center;
            user-select: none;
            border-radius: 50%;
            justify-content: center;
            width: 36px;
            color: #fff;
            height: 36px;
            font-size: 20px;
            margin-right: -4px;
        }

        .chip-content {
            cursor: inherit;
            display: flex;
            align-items: center;
            user-select: none;
            white-space: nowrap;
            padding-left: 12px;
            padding-right: 12px;
        }

        .chip-svg {
            color: #999999;
            cursor: pointer;
            height: auto;
            margin: 4px 4px 0 -8px;
            fill: currentColor;
            width: 1em;
            height: 1em;
            display: inline-block;
            font-size: 24px;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            user-select: none;
            flex-shrink: 0;
        }
        .chip-svg:hover {
            color: #666666;
        }
    </style>
</head>
<body>
    <div class="card" style="width: 100%;">
        <img src=@Html.DisplayFor(model => model.PicUrls) class="card-img-top">
        <div class="card-body" style="text-align:initial">
            <h5 class="card-title"> @Html.DisplayFor(model => model.Product.description) </h5>
            <h6 class="card-title"> @Html.DisplayFor(model => model.PublishDate) </h6>
            <h6 class="card-title"> @Html.DisplayFor(model => model.Product.price) ש"ח </h6>
            <div style="height:12vh">
                <span style="float:right"> <h6> נמצא בחנות: </h6> </span>
                <span class="publisherDetails"> @Html.DisplayFor(Model => Model.Product.store.storeName)</span>
                <span class="publisherDetails"> @Html.DisplayFor(Model => Model.Product.store.address)</span>
            </div>
            <div>
                <span style="float:right"> <h6 class="card-title"> ליצירת קשר: </h6> </span>
                <span class="publisherDetails"> @Html.DisplayFor(model => model.Publisher.Username)  </span>
                <span class="publisherDetails"> @Html.DisplayFor(model => model.Publisher.Phone)  </span>
                <span class="publisherDetails"> @Html.DisplayFor(model => model.Publisher.Email)  </span>
            </div>
            <br/>
            <div>
               @foreach (var tag in ViewBag.Tags)
            {
                <div class="chip">
                    <div class="chip-content"> @tag.tageName </div>
                    <div class="chip-close">
                        <svg class="chip-svg" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"></path></svg>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</body>

@*<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PicUrls)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PicUrls)
            </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        </dl>
    </div>*@
