@model IEnumerable<yad2.Models.Post>;

@{
    ViewData["Title"] = "פוסטים";
}

<head>
    <link rel="stylesheet" href="~/css/post.css" />
</head>

<div style="height: 60px">
    <h1 class="title">פוסטים</h1>
</div>
<div style="width:100%">
    <div class="search_navbar">
        <button type="button" id="createBtn" class="btn btn-primary float-lg-none circular" data-toggle="modal">
            <i class="fas fa-plus"></i>
        </button>
        <span style="height: 36px;">
            <h5 style="float: right; margin-left: 15px;">חיפוש בסיסי </h5>
            <input type="text" id="generalSearch" style="float: right;" />
        </span>
    </div>

    <div class="accordion search_navbar" style="height:auto" id="category-accordion">
        <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#category-1">
                <h5 class="mb-0" style="text-align:right">
                    חיפוש מתקדם
                </h5>
            </div>
            <div id="category-1" class="collapse" data-parent="#category-accordion">
                <div>
                    <div class="container" style="margin-bottom: 10px;">
                        <div class="row">
                            <span class="col-2" style="text-align: initial">
                                <div class="form-group">
                                    <label for="descriptionSearch"> תיאור </label>
                                    <input type="text" id="descriptionSearch" style="width:100%"/>
                                </div>
                            </span>
                            <span class="col-4" style="text-align: initial">
                                <label style="width:100%"> מחיר </label>
                                <input id="minPrice" type="number" style="width: 45%" />
                                -
                                <input id="maxPrice" type="number" style="width: 45%" />
                            </span>
                            <span class="col-2" style="text-align: initial">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1"> חנות </label>
                                    <select id="storesSearch" multiple class="form-control" asp-items="@(new SelectList(ViewBag.stores, "Value", "Text"))">
                                    </select>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button onclick="searchPosts()"> חפש </button>
    </div>
</div>
<hr />
@if (Model.Count() == 0)
{
    <div class="noPosts">
        <p>  אין פוסטים לצפייה</p>
    </div> }
else
{
    <div class="postList">
        @foreach (var item in Model)
        {

            <div class="postBlock">
                <img src="@item.PicUrls" class="postImg" />
                <div class="postText" data-toggle="modal">
                    <div> @item.Product.price  ₪  </div>
                    <button class="details" data-postId="@item.PostID" style="color: black" data-url='@Url.Action("Details")'> לפרטים נוספים </button>
                </div>
            </div>}
    </div>}


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="postDetails">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeBtn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">שים לב!</h4>
            </div>
            <div id="deleteContent"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url='@Url.Action("Create")'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" id="createCloseBtn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div id="createContent">
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url='@Url.Action("Details")'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" id="detailsCloseBtn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div id="detailsContent">
            </div>
        </div>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/post.js"></script>
<script src="~/js/Search.js"></script>

<script>
    11
    $(document).ready(function () {

        $(".table").on("submit", 'form', function (event) {
                event.preventDefault();
                var row = $(this).closest("tr");
                var modifiedUser = {};
                modifiedUser.Username = row.find(".username").find("input").val();
                modifiedUser.Password = row.find(".password").find("input").val();
                modifiedUser.Email = row.find(".mail").find("input").val();
                modifiedUser.Phone = row.find(".phone").find("input").val();
                modifiedUser.id = modifiedUser.Username;
                const validationMessages = validateUser(modifiedUser);
                if (validationMessages.length == 0) {
                    $("td", row).each(function () {
                        if ($(this).find("input").length > 0) {
                            var span = $(this).find("span");
                            var input = $(this).find("input");
                            if ($(this).hasClass('isAdmin')) {
                                input = $(this).find('#editable')
                                if (!input[0].checked) {
                                    $(this).find("#realValue").prop('checked', false)
                                } else {
                                    $(this).find("#realValue").prop('checked', true)
                                }
                            } else if (!$(this).hasClass('mail')) {
                                span.html(input.val());
                            } else {
                                const mail = input.val();
                                const mailHref = "mailto:" + mail;
                                span.html("<a href=" + mailHref + ">" + mail + "</a>")
                            }
                            span.show();
                            input.hide();
                        }
                    });
                    row.find(".Edit").show();
                    row.find(".deleteBtn").show();
                    row.find(".Update").hide();
                    row.find(".cancel").hide();
                    row.find("#DetailsModal").hide();
                    $(this).hide();

                    modifiedUser.isAdmin = row.find(".isAdmin").find("span").find("#realValue")[0].checked
                    var token = '@Html.AntiForgeryToken()';
                    token = $(token).val();
                    modifiedUser.__requestverificationtoken = token;

                    $.ajax({
                        type: "POST",
                        url: "/Users/Edit/5",
                        dataType: "JSON",
                        data: modifiedUser
                    })
                } else {
                    validationMessages.forEach(field => {
                        let inputField = row.find(`.` + field + ' input');
                        inputField.addClass('has-error')
                    })
                }
                return false;
            });
    })

    const searchPosts = () => {

        const fields = {
            generalSearch: $("#generalSearch").val(),
            description: $("#descriptionSearch").val(),
            minPrice: $("#minPrice").val(),
            maxPrice: $("#maxPrice").val(),
        }

        getSearchedEntities("/Posts/Search/?storesIds=" + $("#storesSearch").val(), fields).then(function (posts) {
            let container = $(".postList");

            container.html('');
            posts.forEach(post => {
                const elem = `<div class="postBlock"><img src="`+post.picUrls+`" class="postImg" />
                <div class="postText" data-toggle="modal">
                    <div>`+ post.product.price + ` ₪  </div>
                    <button class="details" data-postId="`+ post.postID +`" style="color: black" data-url='@Url.Action("Details")'> לפרטים נוספים </button>
                </div>
            </div>`
                container.append(elem)
                $('.details').click(function (e) {
                   handleDetails(e)
                });
            })
        })
    }
</script>

